header{
    background-color: black;
    height: 75px;
}
.header-logo{
    width:80px;
    padding:10px;
}
.header-center{
    text-align:center;
}
.top-wrapper{
    background-color: black;
    color: white;
    text-align:center;
}

.cdt {

  }
  #jct_sample {
    height: 80px;
    line-height: 80px;
    margin-bottom: 40px;
    }
    #jct_sample span {
    font-size: 150%;
    color: #00FF00;
    }

footer{
    background-color: black;
    height: 65px;
    padding:17px;
}    
.logo-l{
    width:100px;
}