header{
    background-color: black;
    height: 65px;
}
.top-wrapper{
    background-color: black;
    color: white;
    text-align:center
}

.cdt {

  }
  #jct_sample {
    height: 80px;
    line-height: 80px;
    margin-bottom: 40px;
    }
    #jct_sample span {
    font-size: 150%;
    color: #00FF00;
    }

footer{
    background-color: black;
    height: 65px;
}    